@import "admins.css";

/* * {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
} */

.body2 {
    font-size: 20px;
    color: #5a5a5a;
    background-color: #ffffff;
    text-rendering: optimizeLegibility;
    box-sizing: border-box;
}

.mg-top-15px {
    margin-top: 15px;
}

.mg-bottom-15px {
    margin-bottom: 15px;
}

.mg-left-15px {
    margin-left: 15px;
}

body {
    display: flex;
    flex-flow: row wrap;
}

.nav-bar {
    width: 14%;
    margin-right: 1%;
}

.section {
    display: none;
}

.active{
    display: block;
}

.container {
    width: 85%;
}

fieldset {
    height: 100%;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }