#tblAdmin td {
    padding-left: 5px;
    padding-right: 5px;
}

#tblAdmin td.allow-border-right {
    border-right: solid 1px;
}

.current-page-width {
    width: 20px;
}

#admins-edit {
    margin-top: 30px;
}

.lable-info {
    text-align: right;
}